PowerAutomateFlowforSnackingPrediction/Microsoft.Flow/flows/61778b58-baf1-4c46-bcb7-3d3dba28e48f/definition.json
{"name":"fd9ebef8-b200-4b4d-86d3-e3f6667d5eab","id":"/providers/Microsoft.Flow/flows/fd9ebef8-b200-4b4d-86d3-e3f6667d5eab","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Prediction","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"a1c39146-0140-456f-9562-48091a7d8c45","type":"User","tenantId":"b2e47f30-cd7d-4a4e-a5da-b18cf1a4151b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2025-08-11T09:01:14.8123505Z","connectionKeySavedTimeKey":"2025-08-18T01:23:06.724566Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"manual":{"metadata":{},"type":"Request","kind":"Http","inputs":{"triggerAuthenticationType":"Tenant"}}},"actions":{"Create_CSV_table":{"runAfter":{"Select":["Succeeded"]},"type":"Table","inputs":{"from":"@body('Select')","format":"CSV"}},"Create_file":{"runAfter":{"Create_CSV_table":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"folderPath":"/Summer Project Machine Learning","name":"test.csv","body":"@body('Create_CSV_table')"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"CreateFile"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"HTTP":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"Http","inputs":{"uri":"https://aretal-snackprediction.hf.space/gradio_api/call/predict","method":"POST","headers":{"Authorization":"Bearer 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","Content-Type":"application/json"},"body":{"data":["@{body('Get_file_content')}"]}},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Get_file_content":{"runAfter":{"Create_file":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"id":"@outputs('Create_file')?['body/Id']","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","connectionName":"shared_onedriveforbusiness","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01MC6FT3YBQ6MGIJC53VFIYPAK4I6N6TD6":"/Summer Project Machine Learning/DailyData/data.xlsx","01MC6FT3YSR6LDVNK3KZDLXTFYE3HMEOUT":"/Summer Project Machine Learning/DailyData/AccelerometerData.xlsx","tableId":"{C2FDFF44-F6CA-4568-BD3B-B916F8D89923}"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!64sFJeYZtkKfmSYnktSand-ih_Iebo1NsiLbbSBrYDrsm-T1LMCySp42aYa3-WwS","file":"01MC6FT3YSR6LDVNK3KZDLXTFYE3HMEOUT","table":"{C2FDFF44-F6CA-4568-BD3B-B916F8D89923}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Select":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Select","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","select":{"Date":"@item()?['Date']","X":"@item()?['X']","Y":"@item()?['Y']","Z":"@item()?['Z']","Activity":"@item()?['Activity']","TimeStamp":"@item()?['TimeStamp']"}}}}},"connectionReferences":{"shared_onedriveforbusiness":{"connectionName":"shared-onedriveforbu-60edee1c-8678-4844-a24d-451de7c78673","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness","tier":"NotSpecified","apiName":"onedriveforbusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness":{"connectionName":"shared-excelonlinebu-737c9ea2-14b3-4c80-a8da-8bed9bebb5cf","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}